In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.345197  0.060398 -0.113844
台中 -0.336129  0.244428  0.253365
台南 -1.814780  0.187680 -0.080831
高雄 -0.881808 -0.154639 -0.618100

In [3]:
def formap(value):
    return f'{value:.3f}%'
frame.map(formap)

          b        d        e
台北  -0.345%   0.060%  -0.114%
台中  -0.336%   0.244%   0.253%
台南  -1.815%   0.188%  -0.081%
高雄  -0.882%  -0.155%  -0.618%